repos:
- repo: https://github.com/pycqa/isort
  rev: 5.11.4
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black

- repo: https://github.com/PyCQA/autoflake
  rev: v2.0.0
  hooks:
  - id: autoflake

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade

- repo: https://github.com/myint/docformatter
  rev: v1.6.0
  hooks:
  - id: docformatter
    args: [--blank, --in-place, --recursive, --wrap-descriptions=88, --wrap-summaries=80] # does not yet support toml config

# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v0.971
#   hooks:
#     - id: mypy
#       exclude: ^tests/


- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.6.1
  hooks:
  - id: nbqa-isort
  - id: nbqa-black
  - id: nbqa-pyupgrade

- repo: local # https://github.com/pre-commit/pre-commit/issues/178#issuecomment-557113127
  hooks:
  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types: [python]